
/* map */



.map {
    /* max-width: 90%; */
    height: 600px;
    width: 800px;
    /* clear: both; */
    position: absolute;
    /* float: left; */
    top:8em;
    z-index: -100;
    /* font-size: 16px; */
    /* margin: 2em; */
}

.canvas{ 
    height: 600px;
    width: 800px;
    clear: both;
    /* float: left; */
    /* max-width: 90%; */
    border: 1px solid;
    /* background-color: red; */
    /* position: relative; */
    /* font-size: 16px; */
} 

/*card shape and position */
/* ––––––––––––––––––––––––-–––––––––––––––––––––––– */

.cardSpace{
    /* background-color: aqua; */
    /* margin: 10px; */
    height: 8em;
    width: 12em; 
    float: left;
    /* padding-bottom: 1em; */
    position: relative;

    }

.button
{
/* {border-style: double; */
 /* border-radius: 5px; */
 /* border-color: crimson; */
 font-size: 16px;
 height: 8em;
 width: 5em;
 position: relative;
 background-color: transparent;
 float:left;
 border: none;
 outline:0;
 z-index:10;
}

.deck
{border-style: double;
 border-radius: 5px;
 /* border-color: crimson; */
 background-color: gray; 
 height: 7em;
 width: 5em;
 position: absolute;
 float: left;
 padding: auto;
 /* z-index: -10; */
 /* top: 0px;  */
 /* left: 0px; */
}

.cardFront
{border-style: double;
 border-radius: 5px;
 margin-top: 8px;
 height: 7em;
 width: 5em;
 position: relative;
 margin-left: 50%;

}


/*text position in the card*/
.cardBack p {
 margin: 0;
 position: absolute;              
 top: 50%;     
 left: 50%;
 margin-right: -50%;                    
 transform: translate(-50%, -50%);
}

.cardFront p {
 margin: 0;
 position: absolute;              
 top: 50%;     
 left: 50%;
 margin-right: -50%;                    
 transform: translate(-50%, -50%);
}

